html { 
    scroll-behavior: smooth;
}
/* /* body {
    /* background-image: url(images/image-background.jpg);
    
}  */

.nav {
    display: flex;

}
section img {
    max-width: 400px;
    height: 400px;
}